
<h1>Dragon Ball Z</h1>

<hr>

<div class = "row">
  <div class = "col">
    <app-personajes>

    </app-personajes>
  </div>
  <div class = "col">
   
    <app-agregar 
    
    [nuevo] = "nuevo"
    ></app-agregar>
  </div>
</div>

<!-- 
  esta instrucción recoge el evento de OnNuevoPersonaje y lo manda a la función con argumento del evento
  (onNuevoPersonaje) = "agregarNuevoPersonaje( $event )" 

Con esto se manda el input al componente app- personajes donde [personajes] está en el componente app-personajes y "personajes" está en main-page.components

   <app-personajes [personajes] = "personajes">
    </app-personajes>


-->