<!-- Sidebar -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class = " bg-dark border-right p-3" id = "sidebar">
  <h3 class = "text-light">
    Gifs-App
  </h3>
  <hr class = "text-white"/>
  <div class = "list-group list-reset">
  <a href="#" class = "list-group-item list-group-item-action">
    DashBoard
  </a>
</div>
</div>
<!-- end of Sidebar-->